<header class="md-header" data-md-component="header">
  <div class='s-head'>
    <div class="s-center">
      <a class="s-head__logo" href="https://workshopbutler.com"></a>
      <div class="head-menu">
          <ul id="site_top" class="menu"><li id="menu-item-261" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-261"><a href="https://workshopbutler.com/product">Product</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-262"><a href="https://workshopbutler.com/pricing">Pricing</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-424"><a href="https://medium.com/workshop-butler">Blog</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-217"><a href="http://workshopbutler.com/help">Help center</a></li>
          </ul>
      </div>

      <a href="#" class="s-head__menu-toggle" data-menu-site="">
          <i class="icon-buter"></i>
      </a>
      <div class="s-head__reg">
          <a class="s-head__reg-login" href="https://app.workshopbutler.com/login">
              Login
          </a>
          <a class="s-head__reg-start btn" href="https://app.workshopbutler.com/register">
              Get started
          </a>
      </div>
  </div>
  </div>
  <nav class="md-header-nav md-grid">
    <div class="md-flex">
      <div class="md-flex__cell md-flex__cell--shrink">
        <a href="{{ config.site_url | default(nav.homepage.url, true) }}" title="{{ config.site_name }}" class="md-header-nav__button md-logo">
          {% if config.theme.logo.icon %}
            <i class="md-icon">{{ config.theme.logo.icon }}</i>
          {% elif config.theme.logo.startswith("http") %}
            <img src="{{ config.theme.logo }}" width="24" height="24">
          {% else %}
            <img src="{{ base_url }}/{{ config.theme.logo }}" width="24" height="24">
          {% endif %}
        </a>
      </div>
      <div class="md-flex__cell md-flex__cell--shrink">
        <label class="md-icon md-icon--menu md-header-nav__button" for="drawer"></label>
      </div>
      <div class="md-flex__cell md-flex__cell--stretch">
        <div class="md-flex__ellipsis md-header-nav__title" data-md-component="title">
          {% block site_name %}
            {% if config.site_name == page.title %}
              {{ config.site_name }}
            {% else %}
              <span class="md-header-nav__topic">
                {{ config.site_name }}
              </span>
              <span class="md-header-nav__topic">
                {{ page.title }}
              </span>
            {% endif %}
          {% endblock %}
        </div>
      </div>
      <div class="md-flex__cell md-flex__cell--shrink">
        {% block search_box %}
          {% if "search" in config["plugins"] %}
            <label class="md-icon md-icon--search md-header-nav__button" for="search"></label>
            {% include "partials/search.html" %}
          {% endif %}
        {% endblock %}
      </div>
      {% if config.repo_url %}
        <div class="md-flex__cell md-flex__cell--shrink">
          <div class="md-header-nav__source">
            {% include "partials/source.html" %}
          </div>
        </div>
      {% endif %}
    </div>
  </nav>
</header>
