<header class="md-header" data-md-component="header">
  <div class='s-head md-grid'>
    <div class="wsb-header__left">
      <a class="s-head__logo" href="https://workshopbutler.com"></a>
      <div class="head-menu">
          <ul id="site_top" class="menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://workshopbutler.com/product">Product</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://workshopbutler.com/pricing">Pricing</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://workshopbutler.com/developers">Developers</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://medium.com/workshop-butler">Blog</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://support.workshopbutler.com">Help center</a></li>
          </ul>
      </div>
    </div>
    <div class="wsb-header__right">
      <div class="s-head__reg">
          <a class="s-head__reg-login" href="https://app.workshopbutler.com/login">
              Login
          </a>
          <a class="s-head__reg-start btn" href="https://app.workshopbutler.com/register">
              Get started
          </a>
      </div>
    </div>
  </div>
  <nav class="md-header-nav md-grid">
    <div class="md-flex">
      <div class="md-flex__cell md-flex__cell--shrink">
        <label class="md-icon md-icon--menu md-header-nav__button" for="drawer"></label>
      </div>
      <div class="md-flex__cell md-flex__cell--stretch">
        <div class="md-flex__ellipsis md-header-nav__title" data-md-component="title">
          {% block site_name %}
            {% if config.site_name == page.title %}
              {{ config.site_name }}
            {% else %}
              <span class="md-header-nav__topic">
                {{ config.site_name }}
              </span>
              <span class="md-header-nav__topic">
                {{ page.title }}
              </span>
            {% endif %}
          {% endblock %}
        </div>
      </div>
      <div class="md-flex__cell md-flex__cell--shrink">
        {% block search_box %}
          {% if "search" in config["plugins"] %}
            <label class="md-icon md-icon--search md-header-nav__button" for="search"></label>
            {% include "partials/search.html" %}
          {% endif %}
        {% endblock %}
      </div>
      {% if config.repo_url %}
        <div class="md-flex__cell md-flex__cell--shrink">
          <div class="md-header-nav__source">
            {% include "partials/source.html" %}
          </div>
        </div>
      {% endif %}
    </div>
  </nav>
</header>
